<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>これだけ覚えればOK ～HTML，CSS～</title>
    <link rel="stylesheet" href="main.css">
  </head>

  <body>

    <h1>配置</h1>

    <p>これは第一段落の文です。この文には
      <span>span 要素</span>
      <a href="./html">リンク</a>が含まれます。
    </p>

    <p>これは第二段落の文です。この文には
      <span>span 要素</span>
      <a href="./css">リンク</a>が含まれます。
    </p>

    <ul>
      <li>position</li>
      <li>right</li>
      <li>bottom</li>
      <li>left</li>
      <li>inset</li>
      <li>z-index</li>  
      <li><em>三つ目</em>の項目</li>
    </ul>
</body>

</html>